
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #000;
}
.grid-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.grid-wrapper a {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.grid-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    /* filter: grayscale(80%); */
}
.grid-wrapper img:hover{
    /* filter: grayscale(50%); */
    transform: scale(1.1);
    transition:  all 0.5s ease-in-out;
}
.grid-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}