.body{
    background-color: #EAEAEA;
}
.img-gallery {    
    width:80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
.img-gallery img{
    height: 300px;
    width: auto;
    cursor: pointer;
}
.img-gallery img:hover{
    /* transform: scale(1.2) rotate(-15deg); */
    transform: scale(0.98);
}