@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans',sans-serif;
    background-color: #000;
}

.brandLogo {
    height: 30px;
    padding-bottom: 5%;
}

.brandName {
    margin-left: 10px;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

.brandName2 {
    color: red;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: red;
    transition: .3s;
}

nav li {
    margin-left: 30px;
}

nav i {
    color: #fff;
}
