.logo {
    margin-right: auto;
}

.logoImage {
    height: 30px;
    margin-bottom: 9px;
}

.logoName {
    margin-left: 10px;
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

.logoName2 {
    color: red;
}
nav li,a,i {
    text-decoration: none;
    color: #fff;
}

.nav_links{
    list-style: none;
    margin-top: 15px;
    margin-left: auto;
}


.nav_links li{
    display: inline-block;
    padding-left: 20px;
}

.nav_links li a:horver {
    color: #fff;
}

header {
    background: #000;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 10px 10%;
}