*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.tag {
    color: rgb(58, 58, 255);
    font-size: 6pt;
}
.title {
    font-weight: bold;
    font-size: 20pt;
}
.hit {
    font-size: 8pt;
}
.like {
    font-size: 8pt;
}
.content {
    font-size: 10pt;
}
.writer {
    font-size: 14pt;
    font-weight: 900;
}